.main-page{
    margin-top:20px;
}

.text-decoration-none{
  text-decoration: none;
}

.category-item:hover {
  background-color: #e9ecef;
  cursor: pointer;
}

.card {
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
