.product-image {
  max-height: 400px;
  object-fit: cover;
  border-radius: 5px;
}

.carousel-container {
  width: calc(100% - 40px);
  margin: 0 20px;
  position: relative;
}

.carousel-item .card {
  height: 100%;
}

.carousel-img {
  max-height: 200px;
  object-fit: cover;
}

.product-detailed .carousel {
  margin: 0 auto;
}

.product-detailed .carousel-control-prev,
.product-detailed .carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 2rem;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-control-prev {
  left: -20px;
}

.carousel-control-next {
  right: -20px;
}
